
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong2"><i class="fa fa-external-link-square"></i></button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="color:black;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">HIPAA Authorization to Use and Disclose Protected Health Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This Authorization Form ("Authorization") describes different uses and disclosures of health information, including as
        protected under applicable state and provincial law and also "protected health information" as defined by the federal
        Health Insurance Portability and Accountability Act of 1996 ("HIPAA") and the regulations promulgated thereunder.
        This authorization shall remain in effect for three (3) years from the date of signature unless revoked by you via the
        method set forth below.</p>

        <p>I hereby authorize Clutch Diagnostics LLC ("Clutch") to use and/or disclose the protected health information about me
        collected by Clutch ("PHI") to Clutch’s designated laboratory partner facilities, including LabCorp and its affiliates. This
        PHI may be used and/or disclosed to conduct the collection, testing, and analysis for the purposes of a COVID-19 PCR
        diagnostic test.</p>

        <p>I understand that, as set forth in the notice of privacy practices, I have the right to revoke this authorization, in writing,
        at any time, except to the extent that Clutch has acted in reliance upon it, by sending written notification to Clutch at
        <a>patientservices@clutch.health</a> or at the address below:</p>


        <p><strong>Clutch Diagnostics LLC</strong><br>
        438 Porsche Avenue<br>
        Atlanta, GA 30354</p>

        <p>Attn: Privacy Officer</p>
        <p>I understand that the provision of treatment by Clutch which is connected to or generates the health record/PHI
        disclosed under this Authorization is conditioned on my execution of this Authorization. I understand such treatment
        by Clutch is solely for the purpose of creating the above identified health record/PHI for disclosure to Clutch’s
        designated laboratory partner facilities. I further understand that if I do not execute this Authorization, the sample I
        provide via the Clutch Self-Collection Kit will not be sent to Clutch’s designated laboratory partner facilities for the
        purposes of conducting a COVID-19 PCR diagnostic test.</p>

        <p>I understand that PHI used or disclosed pursuant to this authorization may be redisclosed by the recipient and its
        confidentiality may no longer be protected by federal or state law.</p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
