{% extends "appbuilder/base.html" %}

{% block content %}

<div class="container-fluid">
	<div class=row>
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="card" style="width: 18rem;">
				<div class="card-body">
					<!---<a href="/clientresultmodelview/add" class="btn btn-primary">Register Test</a> -->
				</div>
			</div>
		</div>

		
		<div class="col-lg-4 col-md-4 col-sm-4">
			<div class="card" style="width: 18rem;">
	  			<div class="card-body">
					<!---<a href=/"employeemodelview/list" class="btn btn-primary">View Results</a> -->
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

